@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  padding-bottom: 20%;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: #5fc0cd;
  font-size: 1.8rem;
  color: #ffffff;
}
header img {
  width: 10px;
  height: 15px;
  margin-left: 20px;
}
header span {
  width: 100%;
  text-align: center;
  margin-left: -20px;
}
.personal {
  background-image: url(../img/task5-1_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 12rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.personal div {
  line-height: 2.2rem;
}
.personal img {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 20px;
}
.personal span:first-child {
  color: #ffffff;
  font-size: 1.6rem;
  margin-left: 20px;
}
.personal span:last-child {
  color: #ffffff;
  font-size: 1.3rem;
}
.personal span:last-child img {
  width: 1rem;
  height: 1.2rem;
  margin-left: 20px;
  margin-right: 3px;
}
.content {
  padding: 1.2rem 0;
  border: 1px solid #e1e5e7;
}
.content span {
  font-size: 1.5rem;
  margin-left: 20px;
  padding-right: 20px;
}
.content span:first-child {
  padding-left: 20px;
}
.content img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.pro {
  border-left: 2px solid #5fc0cd;
}
.tech {
  color: #999999;
  border-right: 1px solid #e1e5e7;
}
.content2 {
  padding: 1.2rem 0;
  border: 1px solid #e1e5e7;
  display: flex;
  align-items: center;
}
.content2 span {
  font-size: 1.5rem;
  margin-left: 20px;
  padding-right: 20px;
}
.content2 span:first-child {
  padding-left: 20px;
}
.content2 img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.intro {
  flex: 1;
  text-align: justify;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: fixed;
  bottom: 0;
}
footer button:first-child {
  height: 3rem;
  width: 35%;
  border: 1px solid #5fc0cd;
  background-color: #ffffff;
  color: #5fc0cd;
  margin-left: 10%;
}
footer button:last-child {
  height: 3rem;
  width: 35%;
  border: 1px solid #5fc0cd;
  background-color: #5fc0cd;
  color: #ffffff;
  margin-right: 10%;
}
