* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}

a:hover{
	text-decoration: none;
	color:#f9a372;
}
a:visited{
	text-decoration: none;
	color:#FFFFFF;
}
a:link{
	text-decoration: none;
}
.header-icon {
	float: right;
	text-align: right;
	line-height: 40px;
}

.tel {
	float: left;
	line-height: 40px;
	color: #56a087;
}

.header-menu {
	background-color: #29b078;
	width: 100%;
	display: inline-block;

}
@media screen and (max-width: 768px) {
    .header-menu {
    display:none;
}
  }
.sm-menu{
	background-color: #29b078;
	margin-bottom:-4px;
}
.nav>li{
	text-align: center;
	
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #555;}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar{
	border:none;
}
.navbar-default .navbar-toggle {
    border-color: #29b078;
}
.navbar-default .navbar-toggle:hover {
    background-color: #1e7c55;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #175a3e;
}


@media screen and (min-width: 768px) {
    .sm-menu {
    display:none;
}
  }
.menu {
	color: #fff;
	float: right;
	margin-right: 6vw;
	margin-bottom: 0;
}
.menu div{
	display: inline-block;
	height:calc(4vw + 16px);
	padding: 2vw;
}
.menu div:hover{
	color:#FFFFFF;
	border-bottom:2px solid #FFFFFF;
}
.carousel-inner {
	margin-top: 0px;
}

.introduce {
	margin-top: -5px;
}

.tecon {
	text-align: center;
}

.intro {
	padding: 0 5%;
	margin-top: 8%;
}

.people-intro {
	border: none;
	background: #fff;
	-webkit-box-shadow: 2px 2px 10px #C0C0C0;
	padding: 12% ;
	margin-top: 3%;
}

.intro-four {
	padding: 3% 5%;
	border-left: 1px dotted #000000;
	margin-top: 8%;
}

.text {
	color: #999;
	text-align: justify;
	
	
	
}

.titles {
	text-align: center;
	margin-top: 10%;
	
}

.step div {
	display: inline-block;
}

.circle {
	height: 40px;
	width: 40px;
	display: inline-block;
	color: #29b078;
	border-radius: 50%;
	background: #FFFFFF;
	border: none;
	box-shadow: 0 1px 2px rgba(200, 200, 200, .9);
}

.step {
	display: flex;
	align-items: center;
	margin-top: 15%;
}

.step-left {
	width: 20%;
	
}

.step-mid {
	
	width: 58%;
}

.step-right {
	width: 25%;
}

.step-right img {
	float: right;
}

.brand-box {
	border: none;
	background: #fff;
    width:16%;
    line-height: 13;
    min-width:181px;
    margin-bottom: 10px;
    margin:10px auto;
	
}
.brand-wrap{
	border: none;
	
	
}
.brand-box:hover{
	-webkit-box-shadow: 2px 2px 10px #909090;
}

.link li {
	float:left;
	margin-left: 5%;
}
.link a{
	color: #000000;
}

footer {
	background-color: #26a26f;
	color: #FFFFFF;
	
}
.footer-content div{
	margin-top:2% ;
}
.footer-titles{
	margin-top:2%;
	text-align: center;
}
/** col-lg-2-5**/
@media screen and (min-width: 1200px) {
    .col-lg-2-5 {
    float: left;
    width: 20%;
    padding: 0 5px;
}
  }
@media screen and (min-width: 992px) {
    .col-md-2-5 {
    float: left;
    width: 20%;
    padding: 0 5px;
}
  }
  
.navigation{
    position: absolute;
    top: 22%;
    bottom: 100%;
    left: 0;
    font-size: 12vw;
    text-align: center;
    text-shadow: 0 1px 2px rgba(33, 28, 28, 0);
    opacity: 1;
           }
.right {
    right: 0;
    left: auto;
                          }
.tecon img{
	height:55px;
}
